{% unless page.title %}
	{% assign front = 1 %}
	{% assign page = site.posts.first %}
{% endunless %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Bristol Skillswap</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/css/skillstyles.css"/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/images/favicon.png" type="image/png" />
</head>
<body>
	<div id="container">

		<header>
			<a href="/" class="home_link"></a>
		</header>

		<div class="content">

			<div id="header_content">
				<h1>{{ page.title }}</h1>
				<h2>
					@ <a href="http://www.pmstudio.co.uk/" target="_blank">Pervasive Media Studios</a>
				</h2>
				<h2>{{ page.date | date: "%H:00, %B %d %Y" }}</h2>
			</div>

			<div class="sidebar">
				{% if front %}
					<div id="tickets">
						<a href="http://bristolskillswap.eventbrite.com">
							<img src="/images/eventbrite_logo.png" />
							It's free, but please get a ticket at our
							Eventbrite page
						</a>.
					</div>
				{% endif %}
				<div id="older">
					<h2>All The Skillswaps</h2>
					<ul>
						{% for post in site.posts %}
							<li>
								<a href="{{ post.url }}">{{ post.title }}</a>
								- {{ post.date | date: "%B %Y" }}
							</li>
						{% endfor %}

						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2008.11.11.user_experience.mp4">2008.11.11.user_experience.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2007.06.28.gamedesign.mp4">2007.06.28.gamedesign.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2007.05.30.rapidprototyping.mp4">2007.05.30.rapidprototyping.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2007.04.23.webdesign.mp4">2007.04.23.webdesign.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2007.03.29.usability.mp4">2007.03.29.usability.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2007.02.13.microformats.mp4">2007.02.13.microformats.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2006.09.11.basic-bookkeeping.mp4">2006.09.11.basic-bookkeeping.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2006.06.23.conversational-interfaces.mp4">2006.06.23.conversational-interfaces.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2006.05.16.css-workflows.mp4">2006.05.16.css-workflows.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2006.04.10.copyright-101.mp4">2006.04.10.copyright-101.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2006.02.27.plone-skinning.mp4">2006.02.27.plone-skinning.mp4</a>
						</li>
						<li>
							<a href="http://stream-view.watershed.co.uk/skillswap/watch.php?stream=2006.03.27.basic-networking.mp4">2006.03.27.basic-networking.mp4</a>
						</li>

				</div>

				<a class="twitter-timeline" href="https://twitter.com/_skillswap" data-widget-id="321281216844275713">Tweets by @_skillswap</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


			</div>

			<div class="info">
				<div class="description">
					{{ page.description }}
				</div>
				{% for speaker in page.speakers %}
					<div class="speaker">
						<img src="/images/{{ speaker.pic }}" alt="{{ speaker.name }}">
					</div>
					<div class="profile">
						<h2>{{ speaker.name }}</h2>
						{% if speaker.handle %}
						<a href="http://twitter.com/{{ speaker.handle }}">@{{ speaker.handle }}</a>
						 | {% endif %}
						<a href="http://{{ speaker.website }}">{{ speaker.website }}</a>
						<br />
						<em>{{ speaker.about }}</em>
						<p>{{ speaker.talk }}</p>
					</div>
					<br class="clearfloat" />
				{% endfor %}

				{{content}}	
			</div>

			<br class="clearfloat" />
		</div>

		<div id="footer"></div>

	</div>
	
	<p id="credit">
		15942 Internets of kudos to
		<a href="http://garybristow.com">Gary Bristow</a>
		for designing this site
	</p>

</body>
</html>